/* VARIABLES */
:root{
    --ms-primary-color: #2c3e50;
    --ms-secondary-color: #1abc9c;
}
/* DEBUG */
.debug .ms-hero-img{
    border:2px dashed ;
    background-color: blue;
    min-height: 16.25rem;
}
.debug #ms-hero [class*='col-']{
    border:2px dashed;
    background-color: blue;
    min-height: 2.1875rem;
}
.debug #ms-portfolio .col-2,.col-1 {
    border:2px dashed;
    background-color: blue;
    min-height: 2.1875rem;
}
.debug #ms-portfolio .col-12,.col-sm-6,.col-lg-4{
    border:2px dashed;
    background-color: blue;
    min-height: 22.5rem;
}
.debug .ms-img-card{
    background-color: green;
    height: 100%;
}
.debug #ms-about .col-2,.col-1 {
    border:2px dashed;
    background-color: blue;
    min-height: 2.1875rem;
}
.debug #ms-contact .col-2,.col-1 {
    border:2px dashed;
    background-color: blue;
    min-height: 2.1875rem;
}
.debug .ms-footer-top .col-2.col-sm-3 {
    border:2px dashed;
    background-color: blue;
    min-height: 3.875rem;
}
/* HEADER */
header{
    background-color: var(--ms-primary-color);
    color: white;
}
.ms-main-nav{
    list-style: none;  
    display: flex;  
    align-items: center;
    margin: auto;
    justify-content: center;
}
.ms-main-nav li{
    padding: 0 .625rem;
}
.ms-main-nav a{
    text-decoration: none;
    color: inherit;
}
/* sezione HERO */
#ms-hero{
    background-color: var(--ms-secondary-color);
    color: white;
    font-weight: bold;
}
.ms-hero-img{
    max-width: 14.375rem;
    margin-left: auto;
    margin-right: auto;
}
/* sezione ABOUT */
#ms-about{
    background-color: var(--ms-secondary-color);
    color: white;
    font-weight: bold;
}
#ms-about button{
    max-width: 9.375rem;
}
/* sezione CONTACT */
.ms-form{
    list-style: none; 
    font-size: 1.5625rem;
    padding-bottom: 8.75rem;
    border-bottom: 1px solid;
    padding-left: 0;
    margin-left: 0;
}
.ms-form a{
    text-decoration: none;
    color: inherit;
}
.ms-form li:not(:last-child) {
    border-bottom: 1px solid;
}
/* FOOTER */
footer{
    color: white;
    background-color: #3a546d;
}
.ms-footer-top a{
    text-decoration: none;
    color: var(--ms-secondary-color);
}
/* parte inferiore footer */
.ms-footerbottom{
    background-color: var(--ms-primary-color);
}