/* VARIABLES */
:root{
    --ms-primary-color: #2c3e50;
    --ms-secondary-color: #1abc9c;
}
/* HEADER */
header{
    background-color: var(--ms-primary-color);
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.ms-main-nav{
    list-style: none;  
    display: flex;  
    align-items: center;
    margin: auto;
    justify-content: center;
}
.ms-main-nav li{
    padding: 0 .625rem;
}
.ms-main-nav a{
    text-decoration: none;
    color: inherit;
}
.ms-btn-primary{
    border: .0625rem solid white;
    background-color: transparent;
    color: #888888;
    border-radius: .1875rem;
    padding: .3125rem .625rem;
    line-height: 0;
}
/* sezione HERO */
#ms-hero{
    background-color: var(--ms-secondary-color);
    color: white;
    font-weight: bold;
}
.ms-hero-img{
    max-width: 14.375rem;
    margin-left: auto;
    margin-right: auto;
}
#ms-hero h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.ms-lateral-col{
    height: .3125rem;
    border-radius: .3125rem;
}
.ms-col-center{
    font-size: 2.1875rem;
}
.white-dec{
    background-color: white;
}
/* sezione PORTFOLIO */
.black-dec{
    background-color: black;
}
#ms-portfolio img{
    border-radius: .625rem;
}
/* sezione ABOUT */
#ms-about{
    background-color: var(--ms-secondary-color);
    color: white;
    font-weight: bold;
}
#ms-about button{
    max-width: 9.375rem;
}
/* sezione CONTACT */
.ms-form{
    list-style: none; 
    font-size: 1.5625rem;
    padding-bottom: 8.75rem;
    border-bottom: 1px solid;
    padding-left: 0;
    margin-left: 0;
}
.ms-form a{
    text-decoration: none;
    color: inherit;
}
.ms-form li:not(:last-child) {
    border-bottom: 1px solid;
}
/* FOOTER */
footer{
    color: white;
    background-color: #3a546d;
}
.ms-footer-top a{
    text-decoration: none;
    color: var(--ms-secondary-color);
}
/* parte inferiore footer */
.ms-footerbottom{
    background-color: var(--ms-primary-color);
}